.logo {
    float: left;
    padding: 10px;
    height: 80px;
    width: 80px;
}

.logo-container {
    width: 100%;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .logo-container {
        display: flex;
    }
}