.logo {
    float: left;
    padding: 10px;
    height: 80px;
    width: 245px;
}

.logo-container {
    display: flex;
    background: black;
}

@media screen and (max-width: 600px) {
    .logo {
        display: none;
    }
}