.navbar-container {
    background-color: #563d7c;
    min-height: 81px;
    border-bottom: 1px solid;
}

.navbar-container a {
    float: left;
    display: block;
    color: #cbbde2;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.navbar-container a:hover {
    color: #fff;
    background-color: transparent;
}

.navbar-nav-scroll {
    padding-top: 18px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar; 
}

.navbar-nav-scroll::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 768px) {
    .navbar-nav-scroll {
        padding-top: 0px;
    }
    .navbar-nav {
        display: inline-block;
    }
    .nav-item {
        display: inline-block;
    }
}

.nav-link.active {
    font-weight: 500;
    color: white;
}

.nav-item {
    margin-right: 10px;
}

.nav-item:first-of-type {
    padding-left: 20px;
}

.nav-item:last-of-type {
    padding-right: 15px;
}

.content {
    padding: 16px;
}

.navbar-container .icon {
    display: none;
}

.icon {
    font-size: 24px;
    height: 80px;
    vertical-align: middle;
    margin-top: 7px;
}