.navbar-container {
    overflow: hidden;
    background-color: #563d7c;
    min-height: 4rem;
    border-bottom: 1px solid;
}

.navbar-container a {
    float: left;
    display: block;
    color: #cbbde2;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.navbar-container a:hover {
    color: #fff;
    background-color: transparent;
}

.navbar-nav-scroll {
    padding-top: 18px;
}

.nav-link.active {
    font-weight: 500;
    color: white;
}

.nav-item {
    margin-right: 10px;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 60px;
}

.mobile.logo {
    display: none;
}

.mobile.logo.hide {
    display: none;
}

.navbar-container .icon {
    display: none;
}

.icon {
    font-size: 24px;
    height: 80px;
    vertical-align: middle;
    margin-top: 7px;
}

@media screen and (max-width: 600px) {
    .navbar-container a:not(:first-child) {
        display: none;
    }
    .mobile.logo {
        display: block;
    }
    .navbar-container a.icon {
        float: right;
        display: block;
    }
    .navbar-container {
        background-color: black;
        max-height: 87px;
    }
}

@media screen and (max-width: 600px) {
    .navbar-container.responsive a:first-of-type {
        margin-top: 15px;
    }
    .navbar-container.responsive {
        position: relative;
        max-height: 800px;
    }
    .navbar-container.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar-container.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}