h3.h3{
    margin:1em;
    font-size:1.7em;
    color: #666;    
}

.filters-container {
    background-color: white;
    border-right: 1px solid rgba(0,0,0,.1);
}

.filters-container .mobile {
    margin: 15px;
    text-align: center;
    display: none;
    font-weight: 500;
    padding-bottom: 10px;
    color: rgba(0,0,0,.65);
}

.filters-container .mobile .label {
    float: left;
    padding-top: 8px;
}

.filters-container .mobile .btn-link {
    float: right;
    color: rgba(0,0,0,.65);
    padding: 4px 3px 0px 3px;
    margin-bottom: 10px;
}

.filters-container .mobile a {
    font-weight: 500;
    color: rgba(0,0,0,.65);
}

@media screen and (max-width: 768px) {
    .filters-container {
        /* transition */
        max-height: 70px;
        overflow: hidden;
        transition: max-height 0.15s ease-out;
    }
    .filters-container.show {
        max-height: 999px;
        transition: max-height 0.25s ease-in;
        overflow: inherit;
    }
    .filters-container .mobile {
        display: block;
    }

    .filters-container .filters-nav {
        display: block;
    }
}